*{
    margin: 0;
    font-family:initial;
 }
 body
 {
     background-color: rgb(134, 84, 57);
    
     position: relative;
     height: 1500px;
     
 }
 #banner
 {  
     height: 300px;
     text-align: center;
     background-color: rgb(198, 139, 89);
     
     
     
 }
 #banner h1 {
    
     padding: 80px;
     font-size: 70pt;
     font-style: italic;
     color: rgb(64, 34, 24);
     
 }
 #navigation ul
 {
   
     height: 80px;
     display: flex;
     justify-content: space-around;
     background-color: rgb(64, 34, 24);
     
 }
 #navigation li 
 {
   
 padding: 20px;
 list-style-type: none;  
 font-size: 20pt;
 color: white;
 }


 a 
 {
   
     color: inherit;
     text-decoration: inherit;
     
 }
 a:hover
 {
    
     
    
   
     color: rgb(198, 139, 89);
    
     transition: 0.2s;
 }
 
 
 #content h2
 {
     font-size: 40pt;
     margin-left: 20%;
     margin-right: 20%;
     margin-top: 5%;
     padding: 50px;
     text-align: center;
     color: burlywood;
  
 }
 #content h3
 {
     margin-top: 3%;
     font-size: 20pt;
     margin-left: 5%;
     margin-right: 5%;
     padding: 10px;
     text-align: center;
     color: burlywood;
 }
 #footer 
 {
     color: white;
     font-style: italic;
     text-align: center;
     position: fixed;
     bottom: 0;
 }
 img
 {
    box-shadow: 0px 0px 24px 0 rgba(0,0,0,0.5);
    border-color: burlywood;
    border-style: solid;
    border-width: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 600px;
    height: 400px;
    border-radius: 15px;
    
    
 }
 img:hover
 {
    box-shadow: 0px 0px 40px 0 black;
    transform: scale(1.10);
    transition: 0.5s;
 }
#kwadrat1
 {
    border-color: white;
    float: right;
    height: 30px;
    width: 30px;
    background-color: white;
   
 }
 #kwadrat2
 {
    border-color: rgb(49, 46, 46);
    float: right;
    height: 30px;
    width: 30px;
    background-color: rgb(49, 46, 46);
 }
 #kwadrat3
 {
   border-color: brown;
    float: right;
    height: 30px;
    width: 30px;
    background-color: brown;
 }